<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <style>
        body{
            padding: 0;
            margin-top: 0;
            width: 100%;
        }
        .container {
            margin: 30% auto;
            width: 300px;
            height: 200px;
            border: 1px solid;
            text-align: center;
        }
        .row{
            margin: 10px 45px;
            text-align: left;
        }
        .container .row .btn{
            margin: 0 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>修改用户</h3>
    <form id="modifyUserFrom" action="/user/modify" method="get">
        <div class="row">
            <label>用户名： </label>
            <span th:text="${username}">123</span>
<!--            <input type="text" name="username" placeholder="请输入用户名"/>-->
        </div>
        <div class="row">
            <label>密&nbsp;&nbsp;&nbsp;码：  </label>
            <input type="password" name="password" placeholder="请输入密码" size="15"/>
        </div>
        <div class="row">
            <input class="btn" type="submit" value="提交">
            <input class="btn" type="reset" value="重置">
        </div>
    </form>
</div>
</body>
</html>